* {
    padding: 0;
    margin: 0;
}

.wrapper{
    padding: 4rem 8rem;
}

.features {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    display: flex;
}

.features .card img {
    width: 50px;

}